In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
house_price = pd.read_csv('/content/drive/My Drive/houseprice.csv')

In [ ]:
house_price.head(10)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
5,10850000,7500,3,3,1,yes,no,yes,no,yes,2,yes,semi-furnished
6,10150000,8580,4,3,4,yes,no,no,no,yes,2,yes,semi-furnished
7,10150000,16200,5,3,2,yes,no,no,no,no,0,no,unfurnished
8,9870000,8100,4,1,2,yes,yes,yes,no,yes,2,yes,furnished
9,9800000,5750,3,2,4,yes,yes,no,no,yes,1,yes,unfurnished

In [ ]:
from sklearn.preprocessing import LabelEncoder , StandardScaler
label_encoder = LabelEncoder()

In [ ]:
fields = ['mainroad','guestroom','basement','hotwaterheating','airconditioning','prefarea','furnishingstatus']

In [ ]:
for field in fields:
  house_price[field]  = label_encoder.fit_transform(house_price[field])

In [ ]:
house_price.head(20)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,0
5,10850000,7500,3,3,1,1,0,1,0,1,2,1,1
6,10150000,8580,4,3,4,1,0,0,0,1,2,1,1
7,10150000,16200,5,3,2,1,0,0,0,0,0,0,2
8,9870000,8100,4,1,2,1,1,1,0,1,2,1,0
9,9800000,5750,3,2,4,1,1,0,0,1,1,1,2
10,9800000,13200,3,1,2,1,0,1,0,1,2,1,0
11,9681000,6000,4,3,2,1,1,1,1,0,2,0,1
12,9310000,6550,4,2,2,1,0,0,0,1,1,1,1
13,9240000,3500,4,2,2,1,0,0,1,0,2,0,0
14,9240000,7800,3,2,2,1,0,0,0,0,0,1,1
15,9100000,6000,4,1,2,1,0,1,0,0,2,0,1
16,9100000,6600,4,2,2,1,1,1,0,1,1,1,2
17,8960000,8500,3,2,4,1,0,0,0,1,2,0,0
18,8890000,4600,3,2,2,1,1,0,0,1,2,0,0
19,8855000,6420,3,2,2,1,0,0,0,1,1,1,1

In [ ]:
X = house_price.drop('price',axis=1)
y = house_price['price']

In [ ]:
sc = StandardScaler()
X_scaled = sc.fit_transform(X)

print(X_scaled)

[[ 1.04672629  1.40341936  1.42181174 ...  1.51769249  1.80494113
  -1.40628573]
 [ 1.75700953  1.40341936  5.40580863 ...  2.67940935 -0.55403469
  -1.40628573]
 [ 2.21823241  0.04727831  1.42181174 ...  1.51769249  1.80494113
  -0.09166185]
 ...
 [-0.70592066 -1.30886273 -0.57018671 ... -0.80574124 -0.55403469
   1.22296203]
 [-1.03338891  0.04727831 -0.57018671 ... -0.80574124 -0.55403469
  -1.40628573]
 [-0.5998394   0.04727831 -0.57018671 ... -0.80574124 -0.55403469
   1.22296203]]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train , X_test , y_train, y_test = train_test_split(X_scaled,y,test_size=0.2,random_state=12)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(X_train,y_train)

LinearRegression()

In [ ]:
y_predict = model.predict(X_test)

In [ ]:
print(y_predict)

[5044036.12146486 3371988.04966551 5819936.06548103 5178520.76992238
 4894046.89553338 6980390.20618904 2670368.56664941 6930621.51088421
 5296331.58170329 5842080.65607399 4473955.86429058 3739062.74251274
 7002947.32102297 7572489.03595822 3061312.63778015 4444935.88613104
 7843791.72983741 5039931.36831412 4441902.20458413 3880361.16777741
 6521215.67067494 6668814.70586545 9153743.85068456 4117185.34141732
 5662698.47710452 4926717.98702024 4555979.57362846 3646616.41890542
 3829564.59321317 3634837.49184676 4245618.38362211 4375498.61617406
 5229805.47200164 3912333.944828   3029522.09879965 4359239.54304868
 2641310.96166185 5501698.36908179 4640417.34369325 5924666.68483168
 5029623.69055807 3145127.08365037 4041494.40525829 3522886.46376996
 6374423.28090043 3222631.0487727  4580852.94634391 6440087.96187756
 3260044.09860129 3061162.18005006 6460243.48461593 4917436.25126966
 3915626.97653835 3223379.50719291 3584018.19937923 2739172.55484485
 3360003.17150916 4976262.57677354 4440307.02646054 3019054.22254203
 2770883.15825425 4061421.26909796 7239166.51406274 4691072.00409443
 6546095.62127606 4529339.67348956 2823689.38532108 2426716.20082982
 3163622.48519874 2779206.84296517 4961727.67492127 4107233.37967947
 3597724.27107284 3765259.70931743 2844673.77939993 5208462.30895538
 4066009.42882868 3526078.70199042 6553662.39734136 4048216.41188632
 7700349.72782503 5423853.07781063 4178840.82474063 7924718.49779781
 8070889.30758449 5819774.49285126 9980272.55581671 4800827.13431684
 7971859.4732914  5802776.30646289 4215714.6456234  6102368.52120898
 4358440.23456436 2881660.64283999 3477905.26466324 3060636.52253787
 5223108.68174775 4903180.52462505 5099072.1057637  4372881.89467667
 4480861.55322469 4055708.86093821 7711519.36174872 4005130.80916414
 6726166.75738258 3931777.65442362 3371250.45449106 2893063.12416503
 3045241.44635431]

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [ ]:
mse = mean_squared_error(y_test, y_predict)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_predict)
print("Mean Squared Error (MSE):",mse)
print("Root Mean Squared Error (RMSE):",rmse)
print("R-squared (R2):",r2)

Mean Squared Error (MSE): 1460126418767.47
Root Mean Squared Error (RMSE): 1208356.9086852898
R-squared (R2): 0.7246609398021714